h2 {
  color: #06d366;
  text-shadow: 2px 2px 4px #000000;
  font-size: 24px;
  margin-bottom: 20px;
}
.initial{
color: #a7d012;
}
#background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
body {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: none;
  text-align: center;
  padding: 200px;
  font-family: cursive;
  font-size: 20px;
  overflow: hidden;
}
.option-input {
  font-family: cursive;
  color: aqua;
  border: #000000;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 20px;
}
.add-button {
  background-color: #7a2cbfa9;
  color: #100216;
  text-shadow: 2px 2px 4px #400bd3;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 20px;
  width: 190px;
  height: 60px;
}
.decide-button {
  background-color: #2e8b56d9;
  color: white;
  text-shadow: 2px 2px 4px #dad8d8;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 20px;
  width: 240px;
  height: 60px;
}
.reset-button {
  background-color: #2bc03c6c;
  color: #171910;
  text-shadow: 2px 2px 4px #dad8d8;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 20px;
  width: 190px;
  height: 60px;
}
.result{
  color: #03f1e9;
}
